@model IEnumerable<Book.Models.BookData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("新增書本", "Creat")
</p>
<p>
    @Html.ActionLink("查詢書本", "Search")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_CLASS_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_AUTHOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_BOUGHT_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_PUBLISHER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_NOTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_KEEPER)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayFor(modelItem => item.BOOK_ID)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.BOOK_NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BOOK_CLASS_ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BOOK_AUTHOR)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BOOK_BOUGHT_DATE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BOOK_PUBLISHER)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BOOK_NOTE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BOOK_STATUS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BOOK_KEEPER)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CREATE_DATE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CREATE_USER)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MODIFY_DATE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MODIFY_USER)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { BOOK_ID = item.BOOK_ID }) |
        @Html.ActionLink("Delete", "Delete", new { BOOK_ID = item.BOOK_ID })
    </td>
</tr>
}

</table>
