@model IEnumerable<Book.Models.BookData>

@{
    ViewBag.Title = "查詢";
}

<h2>暫時</h2>


    @using (Html.BeginForm("search", "Home", FormMethod.Get))
    {
<p>
    書名: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <br>
    圖書類別:@Html.DropDownList("BookClassNameList", (IEnumerable<SelectListItem>)ViewBag.ClassNameList)
    <br>
    借閱人:@Html.DropDownList("BookKeeperList", (IEnumerable<SelectListItem>)ViewBag.KeeperList)
    <br>
    借閱狀態: @Html.DropDownList("BookStatusList", (IEnumerable<SelectListItem>)ViewBag.StatusList)
    <br>
    <input type="submit" class="btn btn-success" value="搜尋" />
    <input type="reset" class="btn btn-danger" value="清除" />
    <input type="button" class="btn btn-primary"  value="新增" />
</p>
    }
   


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_CLASS_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_AUTHOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_BOUGHT_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_PUBLISHER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_NOTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_KEEPER)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BOOK_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BOOK_CLASS_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BOOK_AUTHOR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BOOK_BOUGHT_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BOOK_PUBLISHER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BOOK_NOTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BOOK_STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BOOK_KEEPER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATE_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATE_USER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MODIFY_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MODIFY_USER)
            </td>
            <td>
                <nobr>@Html.ActionLink("Edit", "Edit", new { BOOK_ID = item.BOOK_ID }) | @Html.ActionLink("Details", "Details", new { BOOK_ID = item.BOOK_ID }) | @Html.ActionLink("Delete", "Delete", new { BOOK_ID = item.BOOK_ID })</nobr>
            </td>
        </tr>
    }
</table>

<form></form>
